<div class="container">
  <div class="row">
    <div class="col-mg-6 ">

      <h3>お題</h3>
      <% if user_signed_in? %>
        <% @questions.each do |question| %>

          <p>
            <%= question.theme %>

            ：会員No.<%= question.user.id %>

          </p>

        <% end %>
      <% else %>
        <p>ログインしてください</p>
      <% end %>
    </div>
  </div>
</div>
