<% @user.questions.each do |question| %>
  <p><%= question.theme %>
  <%= link_to "削除", question_path(question), method: :delete, data: {confirm: "削除しますか?"} %>
  <%=link_to "編集", edit_question_path(question)  %>
  </p>
<% end %>
